In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

Monthly users?

In [3]:
monthly_users = """SELECT time.month, time.year, COUNT( DISTINCT user_id)
                            FROM songplays
                            JOIN time
                            ON songplays.start_time = time.start_time
                            GROUP BY time.month, time.year"""

In [4]:
cur.execute(monthly_users)
results = cur.fetchall()

In [5]:
results

[(11, 11, 96)]

How many songs does a user listen to per session?

In [6]:
listens_per_session = """SELECT oq.user_id, AVG(sq."Listens Per Session")
                        FROM songplays oq
                            JOIN (SELECT user_id, session_id, COUNT(songplay_id) "Listens Per Session"
                            FROM songplays
                            GROUP BY user_id, session_id
                            ORDER BY "Listens Per Session" DESC) sq
                            ON oq.user_id = sq.user_id
                        GROUP BY oq.user_id
                        ORDER BY AVG(sq."Listens Per Session") DESC"""

In [7]:
cur.execute(listens_per_session)
results = cur.fetchall()

In [8]:
results

[('82', Decimal('43.5000000000000000')),
 ('95', Decimal('42.6000000000000000')),
 ('15', Decimal('38.5833333333333333')),
 ('73', Decimal('36.1250000000000000')),
 ('72', Decimal('36.0000000000000000')),
 ('30', Decimal('35.6000000000000000')),
 ('97', Decimal('34.8125000000000000')),
 ('24', Decimal('32.1000000000000000')),
 ('44', Decimal('28.3571428571428571')),
 ('25', Decimal('28.1666666666666667')),
 ('42', Decimal('28.0000000000000000')),
 ('29', Decimal('26.6153846153846154')),
 ('36', Decimal('24.8000000000000000')),
 ('80', Decimal('20.1515151515151515')),
 ('85', Decimal('19.8888888888888889')),
 ('16', Decimal('18.5833333333333333')),
 ('65', Decimal('17.0000000000000000')),
 ('70', Decimal('16.5000000000000000')),
 ('49', Decimal('16.4047619047619048')),
 ('58', Decimal('14.0000000000000000')),
 ('88', Decimal('11.2500000000000000')),
 ('20', Decimal('9.0000000000000000')),
 ('19', Decimal('4.5000000000000000')),
 ('41', Decimal('4.5000000000000000')),
 ('75', Decimal('3.6000000000000000')),
 ('8', Decimal('3.3750000000000000')),
 ('2', Decimal('3.3333333333333333')),
 ('96', Decimal('3.2500000000000000')),
 ('67', Decimal('3.1250000000000000')),
 ('3', Decimal('3.0000000000000000')),
 ('38', Decimal('3.0000000000000000')),
 ('92', Decimal('3.0000000000000000')),
 ('54', Decimal('3.0000000000000000')),
 ('84', Decimal('3.0000000000000000')),
 ('34', Decimal('3.0000000000000000')),
 ('86', Decimal('2.6470588235294118')),
 ('51', Decimal('2.5000000000000000')),
 ('71', Decimal('2.5000000000000000')),
 ('101', Decimal('2.5000000000000000')),
 ('62', Decimal('2.5000000000000000')),
 ('55', Decimal('2.5000000000000000')),
 ('77', Decimal('2.5000000000000000')),
 ('83', Decimal('2.4545454545454545')),
 ('37', Decimal('2.4285714285714286')),
 ('28', Decimal('2.3333333333333333')),
 ('91', Decimal('2.2500000000000000')),
 ('60', Decimal('2.2500000000000000')),
 ('53', Decimal('2.2222222222222222')),
 ('66', Decimal('2.1764705882352941')),
 ('100', Decimal('2.1111111111111111')),
 ('50', Decimal('2.0869565217391304')),
 ('26', Decimal('2.0727272727272727')),
 ('59', Decimal('2.0000000000000000')),
 ('76', Decimal('2.0000000000000000')),
 ('57', Decimal('2.0000000000000000')),
 ('14', Decimal('2.0000000000000000')),
 ('9', Decimal('2.0000000000000000')),
 ('12', Decimal('2.0000000000000000')),
 ('98', Decimal('2.0000000000000000')),
 ('35', Decimal('2.0000000000000000')),
 ('56', Decimal('2.0000000000000000')),
 ('22', Decimal('2.0000000000000000')),
 ('5', Decimal('2.0000000000000000')),
 ('32', Decimal('1.8666666666666667')),
 ('61', Decimal('1.8461538461538462')),
 ('43', Decimal('1.8333333333333333')),
 ('33', Decimal('1.8181818181818182')),
 ('69', Decimal('1.8125000000000000')),
 ('17', Decimal('1.7500000000000000')),
 ('10', Decimal('1.7500000000000000')),
 ('78', Decimal('1.7500000000000000')),
 ('13', Decimal('1.6666666666666667')),
 ('7', Decimal('1.6666666666666667')),
 ('63', Decimal('1.6666666666666667')),
 ('6', Decimal('1.6428571428571429')),
 ('52', Decimal('1.5454545454545455')),
 ('47', Decimal('1.5000000000000000')),
 ('81', Decimal('1.5000000000000000')),
 ('90', Decimal('1.5000000000000000')),
 ('89', Decimal('1.4285714285714286')),
 ('94', Decimal('1.4000000000000000')),
 ('99', Decimal('1.3333333333333333')),
 ('23', Decimal('1.3333333333333333')),
 ('4', Decimal('1.2500000000000000')),
 ('18', Decimal('1.2500000000000000')),
 ('40', Decimal('1.1666666666666667')),
 ('74', Decimal('1.1428571428571429')),
 ('68', Decimal('1.00000000000000000000')),
 ('79', Decimal('1.00000000000000000000')),
 ('64', Decimal('1.00000000000000000000')),
 ('11', Decimal('1.00000000000000000000')),
 ('87', Decimal('1.00000000000000000000')),
 ('39', Decimal('1.00000000000000000000')),
 ('45', Decimal('1.00000000000000000000')),
 ('48', Decimal('1.00000000000000000000')),
 ('27', Decimal('1.00000000000000000000'))]

Do paid users listen more than free users?

In [9]:
listens_by_user_level = """SELECT oq.level, AVG(sq."Listens Per Session")
                        FROM songplays oq
                            JOIN (SELECT user_id, session_id, COUNT(songplay_id) "Listens Per Session"
                            FROM songplays
                            GROUP BY user_id, session_id
                            ORDER BY "Listens Per Session" DESC) sq
                            ON oq.user_id = sq.user_id
                        GROUP BY oq.level
                        ORDER BY AVG(sq."Listens Per Session") DESC"""

In [10]:
cur.execute(listens_by_user_level)
results = cur.fetchall()

In [11]:
results

[('paid', Decimal('23.0979009375259272')),
 ('free', Decimal('4.3490275871859178'))]

What is the most popular artist?

In [12]:
popular_artists = """SELECT artist_id, COUNT(songplay_id) "Artist Count"
                    FROM songplays
                    GROUP BY artist_id
                    ORDER BY "Artist Count" DESC
                    LIMIT 10"""

In [13]:
cur.execute(popular_artists)
results = cur.fetchall()

In [14]:
results

[('Coldplay', 58),
 ('Kings Of Leon', 55),
 ('Dwight Yoakam', 38),
 ('The Black Keys', 36),
 ('Jack Johnson', 35),
 ('Muse', 35),
 ('Florence + The Machine', 35),
 ('BjÃ\x83Â¶rk', 33),
 ('John Mayer', 31),
 ('The Killers', 31)]

Most popular song?

In [15]:
popular_songs = """SELECT song_id, COUNT(songplay_id) "Song Count"
                    FROM songplays
                    GROUP BY song_id
                    ORDER BY "Song Count" DESC
                    LIMIT 10"""

In [16]:
cur.execute(popular_songs)
results = cur.fetchall()

In [17]:
results

[("You're The One", 37),
 ('Undo', 28),
 ('Revelry', 27),
 ('Sehr kosmisch', 21),
 ('Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', 19),
 ('Secrets', 17),
 ('Canada', 17),
 ('Dog Days Are Over (Radio Edit)', 16),
 ('ReprÃ\x83Â©sente', 14),
 ('Invalid', 14)]

When is usage of Sparkify the greatest?

In [18]:
weekly_usage = """SELECT time.weekday, COUNT(songplay_id)
                FROM songplays
                JOIN time
                ON songplays.start_time = time.start_time
                GROUP BY time.weekday
                ORDER BY time.weekday"""

In [19]:
cur.execute(weekly_usage)
results = cur.fetchall()

In [20]:
results

[(0, 1014), (1, 1071), (2, 1364), (3, 1052), (4, 1295), (5, 628), (6, 396)]